.rgv{
    background-image: url(https://media.istockphoto.com/id/962839792/vector/vector-illustration-of-plain-beige-grungy-background.jpg?s=612x612&w=0&k=20&c=1uYWy5WuhiCVp2O5-3DYUaucKouuLWLcoI3Okr_aoCQ=);
    height: 500px;
    flex-wrap: wrap;
}